* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----- HEADER ----- */
section.yasir {
    display: flex;
    background-color: cadetblue;
    padding: 40px;
    text-align: center;
    color: bisque;
    font-size: 2em;
    text-shadow: 1px -2px 3px darkslategrey;
}
section h1 {
    width: 100%;
    padding: 10px;
}

/* ----- NAV-BAR ----- */
section.menu {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #D96943;
}
section.menu ul {
    display: inline-flex;
}
section ul li {
    display: block;
    width: 120px;
    list-style-type: none;
    padding: 10px;
    color: darkslategrey;
}
section ul li:hover {
    color: #D96943;
    background-color: bisque;
    cursor: pointer;
}
section ul li:active {
    background-color: black;
}

/* ----- HOME ----- */
.home {
    height: 100vh;
    text-align: center;
}
section.home h1 {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    font-family: monospace;
}

/* ----- BLOG ----- */
.blog {
    height: 100vh;
    padding: 50px 10px 10px 10px;
}

/* ----- OTHER ----- */
.skills, .projekt, .kontakt {
    height: 100vh;
    padding: 50px 10px 10px 10px;
}

/* ----- FOOTER ----- */
footer {
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-left: 5%;
    line-height: 500%;
    background-color: bisque;
}